nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

li {
    list-style-type: none;
}